# dirs
/tests               export-ignore
/cli-tools           export-ignore
/.kilocode           export-ignore

# files
/phpunit.xml.dist   export-ignore
/.travis.yml        export-ignore
/test.php           export-ignore
/.kilocodeignore    export-ignore

# ext
/*.md               export-ignore
/*.xml              export-ignore
/*.bat              export-ignore
